<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @bookmark.topic.title %>
</p>

<%= link_to 'Edit', edit_topic_bookmark_path(@topic, @bookmark) %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Delete', [@bookmark.topic, @bookmark], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
