<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.email %>
</p>



<div>
  <% @topic.bookmarks.each do |bookmark| %>
  <h5>
    <%= link_to bookmark.url, [@topic, bookmark] %>
  </h5>
    <% end %>

    <ul>
      <% @topic.bookmarks.each  do |bookmark| %>
        <%= link_to image_tag(bookmark.embedly, :height => 200), bookmark.url %>
      <% end %>

    </ul>
</div>

<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back to all Topics', topics_path %>  |
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic) %>

</div>
