

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.email %>
</p>



<div>

  <ul class="bookmarks">
      <%= render @topic.bookmarks %>

    </ul>
</div>

<%= link_to 'Edit Topic', edit_topic_path(@topic) %> |
<%= link_to 'Back to all Topics', topics_path %>  |
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic) %>
